@import "tailwindcss";

@layer base {
  h1 {
    @apply text-4xl font-bold mb-4
  }
}




@layer components {
  .btn {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full
  }
  .modal {
    position: fixed;
    z-index: 1;
    padding: 2em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    shadow-md;
  }
  .cancel-btn {
    @apply bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full;
  }
  .cancel-btn:hover {
    @apply bg-gray-700
  }
}
